<section id="blog" class="section">
    <header class="container text-center">
        <h1 class="section-title">Blog</h1>
        <p class="section-desc">
            Follow our blog. Read our latest news and do not miss the new features. Stay in touch and share your comments with us...
        </p>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12 articles-container timeline-container">
                <div class="row">
                    <div class="timeline-date first">September 2014</div>
                    <div class="col-md-6 col-sm-6 timeline left">
                        <article class="article yellow wow fadeInUpBig" data-wow-delay="0">
                            <span class="article-timeline-date add-tooltip" data-placement="top" title="27 February, 2014"></span>
                            <div class="article-media-container">
                                <img src=<%= asset_path("blog/post4.jpg", type: :image) %> alt="post 4">
                            </div><!-- End .article-media-container -->
                            <div class="article-meta-container">
                                <span class="article-icon"><i class="fa fa-file-image-o"></i></span>
                                <h2><a href="single.html" title="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></h2>
                                <p>Omnis officia, quibusdam tempore. Aspernatur dolores quibusdam, illo fuga similique rem itaque molestiae labore omnis, rerum ullam debitis, alias adipisci corporis. Quidem, ea nemo aperiam minus! Qui, vero sed. Laborum. <a href="single.html" class="readmore" title="Lorem ipsum dolor sit amet.">Readmore</a></p>
                                <div class="article-meta clearfix">
                                    <div class="article-meta-box article-author">by <a href="#">Eon Dean</a></div>
                                    <div class="article-meta-box article-comments">
                                        <a href="#" title="21 Comment(s)">21 Comment(s)</a>
                                    </div>
                                </div><!-- End .article-meta -->
                            </div><!-- End .article-meta-container -->
                        </article><!-- End .article -->
                    </div><!-- End .timeline -->

                    <div class="col-md-6 col-sm-6 timeline right top">
                        <article class="article purple wow fadeInUpBig" data-wow-delay="0.5s">
                            <span class="article-timeline-date add-tooltip" data-placement="top" title="08 January, 2014"></span>
                            <div class="article-media-container">
                                <img src=<%= asset_path("blog/post3.jpg", type: :image) %> alt="post 3">
                            </div><!-- End .article-media-container -->
                            <div class="article-meta-container">
                                <span class="article-icon"><i class="fa fa-file-image-o"></i></span>
                                <h2><a href="single.html" title="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></h2>
                                <p>Omnis officia, quibusdam tempore. Aspernatur dolores quibusdam, illo fuga similique rem itaque molestiae labore omnis, rerum ullam debitis, alias adipisci corporis. Quidem, ea nemo aperiam minus! Qui, vero sed. Laborum. <a href="single.html" class="readmore" title="Lorem ipsum dolor sit amet.">Readmore</a></p>
                                <div class="article-meta clearfix">
                                    <div class="article-meta-box article-author">by <a href="#">Admin</a></div>
                                    <div class="article-meta-box article-comments">
                                        <a href="#" title="41 Comment(s)">41 Comment(s)</a>
                                    </div>
                                </div><!-- End .article-meta -->
                            </div><!-- End .article-meta-container -->
                        </article><!-- End .article -->
                    </div><!-- End .timeline -->
                    
                    <div class="col-md-6 col-sm-6 timeline left">
                        <article class="article lightblue wow fadeInUpBig" data-wow-delay="0">
                            <span class="article-timeline-date add-tooltip" data-placement="top" title="09 February, 2014"></span>
                            <div id="post-id" class="article-media-container carousel slide" data-ride="carousel" data-interval="7000">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src=<%= asset_path("blog/post1.jpg", type: :image) %> class="img-responsive" alt="Slider 1">
                                    </div><!-- End .item -->

                                    <div class="item">
                                        <img src=<%= asset_path("blog/post2.jpg", type: :image) %> class="img-responsive" alt="Slider 2">
                                    </div><!-- End .item -->

                                </div><!-- End .carousel-inner -->

                                <!-- Controls -->
                                <a class="left carousel-control" href="#post-id" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="right carousel-control" href="#post-id" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                            </div><!-- End .article-media-container -->
                            <div class="article-meta-container">
                                <span class="article-icon"><i class="fa fa-file-image-o"></i></span>
                                <h2><a href="single.html" title="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></h2>
                                <p>Omnis officia, quibusdam tempore. Aspernatur dolores quibusdam, illo fuga similique rem itaque molestiae labore omnis, rerum ullam debitis, alias adipisci corporis. Quidem, ea nemo aperiam minus! Qui, vero sed. Laborum. <a href="single.html" class="readmore" title="Lorem ipsum dolor sit amet.">Readmore</a></p>
                                <div class="article-meta clearfix">
                                    <div class="article-meta-box article-author">by <a href="#">June Dean</a></div>
                                    <div class="article-meta-box article-comments">
                                        <a href="#" title="7 Comment(s)">7 Comment(s)</a>
                                    </div>
                                </div><!-- End .article-meta -->
                            </div><!-- End .article-meta-container -->
                        </article><!-- End .article -->
                    </div><!-- End .timeline -->

                    <div class="col-md-6 col-sm-6 timeline right top">
                        <article class="article red wow fadeInUpBig" data-wow-delay="0.5s">
                            <span class="article-timeline-date add-tooltip" data-placement="top" title="01 February, 2014"></span>
                            <div class="article-media-container embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/FpDJhx3i9oU" allowfullscreen></iframe>
                            </div><!-- End .article-media-container -->
                            <div class="article-meta-container">
                                <span class="article-icon"><i class="fa fa-file-audio-o"></i></span>
                                <h2><a href="single.html" title="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></h2>
                                <p>Omnis officia, quibusdam tempore. Aspernatur dolores quibusdam, illo fuga similique rem itaque molestiae labore omnis, rerum ullam debitis, alias adipisci corporis. Quidem, ea nemo aperiam minus! Qui, vero sed. Laborum. <a href="single.html" class="readmore" title="Lorem ipsum dolor sit amet.">Readmore</a></p>
                                <div class="article-meta clearfix">
                                    <div class="article-meta-box article-author">by <a href="#">Eon Dean</a></div>
                                    <div class="article-meta-box article-comments">
                                        <a href="#" title="55 Comment(s)">55 Comment(s)</a>
                                    </div>
                                </div><!-- End .article-meta -->
                            </div><!-- End .article-meta-container -->
                        </article><!-- End .article -->
                    </div><!-- End .timeline -->
                </div><!-- End .row -->
                <div class="xlg-margin"></div>
                <div class="text-center">
                    <a href="blog.html" class="btn btn-lg btn-yellow">Go to Blog Page</a>
                </div>
            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>