 <section id="contactus" class="section">
    <header class="container text-center">
        <h1 class="section-title">Contact Us</h1>
        <p class="section-desc">
            Get in touch with us. We want to hear from you. Let's discuss how can we provide better support and services...
        </p>
    </header>
    <div id="map"></div><!-- End #map -->

    <div class="lg-margin2x"></div><!-- space -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="contact-info-box text-center">
                    <h3>Addresses</h3>
                    <span class="contact-info-icon yellowbg"><i class="fa fa-map-marker"></i></span>
                    <ul class="contact-info-list">
                        <li>Mimar Sinan Mh. Hurriyet Caddesi 35100, Konak/İzmir, Türkiye</li>
                        <li>Kültür Mh., Muhtar Caddesi 35030/A Konak/İzmir, Türkiye</li>
                    </ul>
                </div><!-- End .contact-info-box -->
            </div><!-- End .col-md-4 -->
            
            <div class="md-margin clearfix visible-xs"></div><!--space -->

            <div class="col-md-4 col-sm-4">
                <div class="contact-info-box text-center">
                    <h3>Call Us</h3>
                    <span class="contact-info-icon lightbluebg"><i class="fa fa-mobile-phone"></i></span>
                    <ul class="contact-info-list">
                        <li><span class="highlight lightblue">Call Us 7/24!</span></li>
                        <li>0(222) 219 67 20 / 0(222) 711 44 91</li>
                        <li>+90 0(232) 324 12 39 / +90 (274) 224 11 42</li>
                        <li>+175 0(538) 477 23 76</li>
                    </ul>
                </div><!-- End .contact-info-box -->
            </div><!-- End .col-md-4 -->

            <div class="md-margin clearfix visible-xs"></div><!--space -->

            <div class="col-md-4 col-sm-4">
                <div class="contact-info-box text-center">
                    <h3>Quick Contact</h3>
                    <span class="contact-info-icon redbg"><i class="fa fa-envelope-o"></i></span>
                    <ul class="contact-info-list">
                        <li><a href="mailto:puffde@gmail.com">puffde@gmail.com</a></li>
                        <li><a href="mailto:eonyeony@gmail.com">eonyeony@gmail.com</a></li>
                        <li><em class="highlight red">Skype:</em> puffde</li>
                    </ul>
                </div><!-- End .contact-info-box -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="md-margin2x"></div><!-- space -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
                <h2 class="text-center lg-margin">Get In Touch</h2>
                <form action="#" id="contact-form" method="post" novalidate>
                    <div class="form-group">
                        <input type="text" name="contactname" id="contactname" required class="form-control input-lg">
                        <span class="animated-label">Your Name *</span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <input type="email" name="contactemail" id="contactemail" required class="form-control input-lg">
                        <span class="animated-label">Your Email *</span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <input type="text" name="contactsubject" id="contactsubject" class="form-control input-lg">
                        <span class="animated-label">Subject</span>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <textarea name="contactmessage" id="contactmessage" class="form-control input-lg" cols="30" rows="7"></textarea>
                        <span class="animated-label textarea-label">Your Message *</span>
                    </div><!-- End .form-group -->

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-lightblue btn-lg" value="Send">
                        <input type="reset" class="btn btn-yellow btn-lg" value="Reset">
                    </div><!-- End .form-group -->
                </form>
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>