 <footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="index.html" class="footer-logo" title="Geass - Creative Onepage Template"><img src=<%= asset_path("logo.png", type: :image) %> width="210" height="75" alt="Geass Logo"></a>
            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="footer-social-icons transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-icons-container">
                        <li><a href="#" class="facebook add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="googleplus add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="dribbble add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#" class="tumblr add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Tumblr"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="#" class="flickr add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Flickr"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-social-icons -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>All rights reserved &copy; <a href="//wrapbootstrap.com/user/eony" title="Eonythemes">Eonythemes&trade;</a></p>
                <span class="footer-date highlight yellow">2014</span>
            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</footer>