 <div class="skills-container parallax" data-stellar-background-ratio="0.15">
    <div class="overlaybg"></div><!-- End .overlaybg -->
    <div class="parallax-content">
            <div class="container">
                <header class="parallax-header clearfix text-center">
                    <h2 class="parallax-title">Our Experience</h2>
                    <p class="parallax-desc">Some of our lucky numbers, our experiences. How good we are and What do we offer...</p>
                </header>
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-6 circle-progress-container">
                        <div class="circle-progress progress-animate">
                            <input type="text" class="knob" data-width="160"  data-height="160" data-readOnly="true" data-fgColor="#f8d61b" data-animateto="92" data-thickness=".06" data-animatespeed="1000">
                        </div><!-- End .circle-progress -->
                        <h3 class="progress-title">Web Design</h3>
                    </div><!-- End .col-md-3 -->

                    <div class="col-md-3 col-sm-6 col-xs-6 circle-progress-container">
                        <div class="circle-progress progress-animate">
                            <input type="text" class="knob" data-width="160"  data-height="160" data-readOnly="true" data-fgColor="#1bc4f5" data-animateto="86" data-thickness=".06" data-animatespeed="1400">
                        </div><!-- End .circle-progress -->
                        <h3 class="progress-title">Logo Design</h3>
                    </div><!-- End .col-md-3 -->

                    <div class="lg-margin visible-sm visible-xs hidden-xss clearfix"></div><!-- space -->

                    <div class="col-md-3 col-sm-6 col-xs-6 circle-progress-container">
                        <div class="circle-progress progress-animate">
                            <input type="text" class="knob" data-width="160"  data-height="160" data-readOnly="true" data-fgColor="#c90e31" data-animateto="90" data-thickness=".06" data-animatespeed="1800">
                        </div><!-- End .circle-progress -->
                        <h3 class="progress-title">Advertising</h3>
                    </div><!-- End .col-md-3 -->

                    <div class="col-md-3 col-sm-6 col-xs-6 circle-progress-container">
                        <div class="circle-progress progress-animate">
                            <input type="text" class="knob" data-width="160"  data-height="160" data-readOnly="true" data-fgColor="#09d33d" data-animateto="100" data-thickness=".06" data-animatespeed="2200">
                        </div><!-- End .circle-progress -->
                        <h3 class="progress-title">Happy Face</h3>
                    </div><!-- End .col-md-3 -->
                    
                </div><!-- End .row -->
            </div><!-- End .container -->
    </div><!-- End parallax-content -->
</div><!-- End .countto-container -->