 <div class="container">
    <div class="row">

        <div class="col-md-3 col-xs-6 member-container">
            <div class="member left">
                <div class="member-wrapper">
                    <figure class="front">
                        <img src=<%= asset_path("team/eric.jpg", type: :image) %> alt="eric" class="img-responsive">
                    </figure>
                    <div class="back">
                        <div class="vcenter-container">
                            <div class="vcenter">
                                <h2>Eric Smith</h2>
                                <p>Founder</p>
                                <hr>
                                <ul class="social-icons-container small-icons">
                                    <li><a href="#" class="facebook add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="googleplus add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="dribbble add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End .vcenter -->
                        </div><!-- End .vcenter-container -->

                    </div><!-- End .back -->
                </div><!-- End .member-wrapper -->
            </div><!-- End .member -->
        </div><!-- End .col-md-3 -->

        <div class="col-md-3 col-xs-6 member-container">
            <div class="member left">
                <div class="member-wrapper">
                    <figure class="front">
                        <img src=<%= asset_path("team/barbara.jpg", type: :image) %> alt="barbara" class="img-responsive">
                    </figure>
                    <div class="back">
                        <div class="vcenter-container">
                            <div class="vcenter">
                                <h2>Barbara Smith</h2>
                                <p>Co-Founder</p>
                                <hr>
                                <ul class="social-icons-container small-icons">
                                    <li><a href="#" class="facebook add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="googleplus add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="dribbble add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End .vcenter -->
                        </div><!-- End .vcenter-container -->

                    </div><!-- End .back -->
                </div><!-- End .member-wrapper -->
            </div><!-- End .member -->
        </div><!-- End .col-md-3 -->

        <div class="col-md-3 col-xs-6 member-container">
            <div class="member right">
                <div class="member-wrapper">
                    <figure class="front">
                        <img src=<%= asset_path("team/steve.jpg", type: :image) %> alt="Stever" class="img-responsive">
                    </figure>
                    <div class="back">
                        <div class="vcenter-container">
                            <div class="vcenter">
                                <h2>Steve O'neal</h2>
                                <p>Developer</p>
                                <hr>
                                <ul class="social-icons-container small-icons">
                                    <li><a href="#" class="facebook add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="googleplus add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Google +"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div><!-- End .vcenter -->
                        </div><!-- End .vcenter-container -->

                    </div><!-- End .back -->
                </div><!-- End .member-wrapper -->
            </div><!-- End .member -->
        </div><!-- End .col-md-3 -->

        <div class="col-md-3 col-xs-6 member-container">
            <div class="member right">
                <div class="member-wrapper">
                    <figure class="front">
                        <img src=<%= asset_path("team/jane.jpg", type: :image) %> alt="Jane" class="img-responsive">
                    </figure>
                    <div class="back">
                        <div class="vcenter-container">
                            <div class="vcenter">
                                <h2>Jane Criess</h2>
                                <p>Designer</p>
                                <hr>
                                <ul class="social-icons-container small-icons">
                                    <li><a href="#" class="facebook add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="googleplus add-tooltip" data-placement="top" data-toggle="tooltip" title="Follow us on Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="dribbble add-tooltip" data-placement="top" data-toggle="tooltip" title="Find us at Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End .vcenter -->
                        </div><!-- End .vcenter-container -->

                    </div><!-- End .back -->
                </div><!-- End .member-wrapper -->
            </div><!-- End .member -->
        </div><!-- End .col-md-3 -->

    </div><!-- End .row -->
</div><!-- End .container -->

<div class="lg-margin visible-xs clearfix"></div><!-- space -->