<div class="testimonials-container parallax" data-stellar-background-ratio="0.15">
    <div class="overlaybg"></div><!-- End .overlaybg -->
    <div class="parallax-content">
        <div class="container">
            <header class="parallax-header clearfix text-center md-margin2x">
                <h2 class="parallax-title clear-margin">Testimonials</h2>
            </header>
            <div class="row">

                <div class="col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
                    <div class="owl-carousel testimonials-carousel">
                        <div class="testimonial">
                            <figure><img src=<%= asset_path("testimonials/dean.jpg" , type: :image) %> alt="Dean Winchester"></figure>
                            <p>First of all thank you very much for awesome product. What i like about you, is you don't give us only quality products, you also provide awesome supports. I am a life time customer here. When i need to design a website, you will be the one that i will ask to create. Thanks again for the world class design and clean code. Really appreciate.</p>
                            <span class="testimonial-owner">Dean Winchester - <span>Ceo of Parke</span></span>
                        </div><!-- End .testimonial -->

                        <div class="testimonial">
                            <figure><img src=<%= asset_path("testimonials/jane.jpg", type: :image) %> alt="Jane Watson"></figure>
                            <p>I have used Geass’s services for the last three years. I have three sources of income - one from my rental property, one from my full time job and the other from my investments. Geass pointed out ways I can reduce taxes and boost my income in legitimately creative ways.</p>
                            <span class="testimonial-owner">Jane Watson - <span>Developer of Cacky</span></span>
                        </div><!-- End .testimonial -->

                        <div class="testimonial">
                            <figure><img src=<%= asset_path("testimonials/sam.jpg", type: :image) %> alt="Sam Smimsonn"></figure>
                            <p>Fantastic product, my sites all run super fast and the support is excellent! Fortunately, Geass was my knight in shining armor. They set me up on their enterprise plan and handled the entire process flawlessly. Thank you very much for helping our company getting better. Can't wait to wokr with you again.</p>
                            <span class="testimonial-owner">Sam Smimsonn - <span>Designer of Goopsy</span></span>
                        </div><!-- End .testimonial -->
                    </div><!-- End. owl-carousel -->
                </div><!-- End .col-md-8 -->
                
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End parallax-content -->
</div><!-- End .testimonials-container -->